/*--------------------------------------------------------------
# All
--------------------------------------------------------------*/

.bar-logged {
    margin-top: 30px;
}

.justify {
    text-align: justify;
}

.services ul {
    list-style: square;
}

.services ul li {
    text-align: left !important;
}

@media (max-width: 768px) {
    .icon-box {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact button {
    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    width: 120px !important;
    background-color: #6badc4 !important;
    color: #fff !important;
    border-radius: 4px !important;
}

.contact button:hover {
    background-color: #51879b !important;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
    overflow: hidden;
}

.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #6badc4;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #6badc4;
}

.gallery .swiper-slide-active {
    text-align: center;
}

.gallery p {
    text-align: center !important;
    font-weight: 600;
}

.gallery .btn-link {
    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    width: 120px !important;
    background-color: #6badc4 !important;
    color: #fff !important;
    border-radius: 4px !important;
    text-align: center !important;
    text-decoration: none !important;
}

.gallery .btn-link:hover {
    background-color: #51879b !important;
}

@media (min-width: 992px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }

    .gallery .swiper-slide-active {
        border: 3px solid #6badc4;
        padding: 4px;
        background: #fff;
        z-index: 1;
        transform: scale(1.2);
        margin-top: 10px;
    }
}

/*--------------------------------------------------------------
# Single Products
--------------------------------------------------------------*/
.owl-carousel {
    position: relative;
    margin: 0 auto;
    width: 410px;
}

.owl-carousel .img-produtos{    
    width: 400px !important;
}

.owl-carousel .owl-dots{
    position: relative;
    margin: 0 auto;
    width: 90px;
    text-align: center !important;
}
.post .btn-pedido {
    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    width: 150px !important;
    background-color: #6badc4 !important;
    color: #fff !important;
    border-radius: 4px !important;
    text-align: center !important;
    text-decoration: none !important;
    padding: 5px !important;
}

.post .btn-pedido:hover {
    background-color: #51879b !important;
}

/*--------------------------------------------------------------
# Archive Products
--------------------------------------------------------------*/
.portfolio .grid-produtos{
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .portfolio .grid-produtos{
        width: 100%;
        margin: 0 auto;
    }
}
.portfolio .portfolio-ul li{
    padding: 5px;
    border: 1px solid #ccc;
}
.portfolio-item{
    padding: 0;margin: 0;
    padding: 10px;
}

.col-produtos1{
    float: left;
    padding: 5px;
    border-right: 1px solid #ccc;
}
.col-produtos1 img{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 150px;
}
.col-produtos2{
    float: right;
    padding-top: 20px;
    padding-left: 10px;    
}

.woocommerce table.cart img{
    display: none;
}
.woocommerce .col-1,.woocommerce .col-2{
    max-width: 48% !important;
}
.woocommerce form .form-row input,.woocommerce form .form-row textarea{
    display: block !important;
    position: relative !important;
    width: 100% !important;    
}